<template>
  <div id="app">
    <HelloWorld/>
    <Throttler/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import Throttler from './components/Throttler';

export default {
  name: 'app',
  components: {
    HelloWorld,
    Throttler
  }
}
</script>

<style>
</style>
