<template>
  <div id="app">
    <HelloWorld/>
    <Bouncer/>
    <Toggler/>
    <Shuffler/>
    <Transitions/>
    <ReactiveTransitions/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Bouncer from './components/Bouncer';
import Toggler from './components/Toggler';
import Shuffler from './components/Shuffler';
import Transitions from './components/Transitions';
import ReactiveTransitions from './components/ReactiveTransitions';

export default {
  name: 'app',
  components: {
    HelloWorld,
    Bouncer,
    Toggler,
    Shuffler,
    Transitions,
    ReactiveTransitions
  }
}
</script>

<style>
</style>
