<template>
  <div id="app">
    <HelloWorld/>
    <OutsideData/>
    <Reusable/>
    <Slots/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import OutsideData from './components/OutsideData';
import Reusable from './components/Reusable';
import Slots from './components/Slots';

export default {
  name: 'app',
  components: {
    HelloWorld,
    OutsideData,
    Reusable,
    Slots
  }
}
</script>

<style>

</style>
