<template>
  <div id="app">
    <HelloWorld/>
    <TodoComponent/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import TodoComponent from './components/TodoComponent';

export default {
  name: 'app',
  components: {
    HelloWorld,
    TodoComponent
  }
}
</script>

<style>
</style>
