<template>
  <div id="app">
    <HelloWorld/>
    <ParentChild/>
    <ComponentEvents/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import ParentChild from './components/ParentChild';
import ComponentEvents from './components/ComponentEvents';

export default {
  name: 'app',
  components: {
    HelloWorld,
    ParentChild,
    ComponentEvents
  }
}
</script>

<style>
</style>
