<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-6">
                <div class="card">
                    <h4 class="card-header bg-dark text-white">
                        Throttling and Debouncing Requests Using Lodash
                    </h4>
                    <div class="card-body">
                        <form @submit.prevent="getPost(postId)">
                            <div class="form-group">
                                <div class="input-group">
                                    <input
                                        placeholder="Enter post id"
                                        v-model="postId"
                                        class="form-control"
                                    >
                                </div>
                            </div>
                        </form>
                        <hr />
                        <pre>{{ post }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import debounce from 'lodash.debounce';

  export default {
    name: "Throttler",
    data() {
      return {
        post: {
          userId: null,
          id: null,
          title: null,
          body: null,
        },
        postId: null,
      };
    },
    methods: {
      getPost: debounce(function (id) {
        if (!id) {
          return;
        }

        this.$http
          .get(`/posts/${id}`)
          .then(({ data }) => {
            this.post = data;
          });
      }, 500),
    },
    watch: {
      postId(newValue, oldValue) {
        if(newValue !== oldValue && newValue) {
          this.getPost(newValue);
        }
      },
    },
    mounted() {
      this.getPost(1);
    }
  }
</script>

<style scoped>

</style>