<template>
  <div class="card">
    <h4
        class="card-header"
        v-if="has('header')"
    >
      <slot name="header">{{ header }}</slot>
    </h4>
    <div
        class="card-body"
        v-if="has('body')"
    >
      <slot name="body">{{ body }}</slot>
    </div>
    <div
        class="card-footer"
        v-if="has('footer')"
    >
      <slot name="footer">{{ footer }}</slot>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'card-component',
    props: {
      header: {
        type: String,
        required: false,
      },
      body: {
        type: String,
        required: false,
      },
      footer: {
        type: String,
        required: false,
      },
    },
    methods: {
      has(name) {
        if (this[name]) {
          return true;
        }
        return this.hasSlot(name);
      },
      hasSlot(name = 'default') {
        return !!this.$slots[name];
      }
    }
  };
</script>
