<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-6">
                <div class="card">
                    <h4 class="card-header bg-dark text-white">
                        Using a shared state
                    </h4>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <input
                                    v-model="sharedState.propertyOne"
                                    class="form-control"
                                    placeholder="Input for the string property"
                                >
                            </div>
                            <div class="form-group">
                                <input
                                    v-model="sharedState.propertyTwo"
                                    class="form-control"
                                    placeholder="Input for the string property"
                                >
                            </div>
                        </form>
                        <hr />
                        <pre>{{ $data }}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col col-6">
                <my-second-component></my-second-component>
            </div>
            <div class="col col-6">
                <my-first-component></my-first-component>
            </div>
        </div>
    </div>
    </template>

<script>
  const sharedState = {
    propertyOne: 'Hello',
    propertyTwo: 'World',
  };

  export default {
    name: "OutsideData",
    data() {
      return {
        privateState: {
          name: 'myApp'
        },
        sharedState,
      };
    },
    components: {
      myFirstComponent: {
        data() {
          return {
            privateState: {
              name: 'myFirstComponent'
            },
            sharedState,
          };
        },
        template: `
          <div class="card">
            <h5 class="card-header">
              My First Component
            </h5>
            <div class="card-body">
              <pre>{{ $data }}</pre>
            </div>
          </div>
`
      },
      mySecondComponent: {
        data() {
          return {
            privateState: {
              name: 'mySecondComponent'
            },
            sharedState,
          };
        },
        template: `
          <div class="card">
            <h5 class="card-header">
              My Second Component
            </h5>
            <div class="card-body">
              <pre>{{ $data }}</pre>
            </div>
          </div>
`
      }
    }
  }
</script>

<style scoped>

</style>