<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <custom-card
                        header="Card #1"
                        body="I'm the body!"
                        footer="I'm the footer"
                    ></custom-card>
                </div>
                <div class="col">
                    <custom-card
                        header="Card #2"
                        body="I'm the body!"
                        footer="I'm the footer"
                    ></custom-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import CustomCard from '@/components/Split/Card.vue';

  export default {
    name: "Reusable",
    components: {
      CustomCard,
    }
  }
</script>

<style scoped>

</style>