<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <custom-card>
                    <span slot="header">I'm the header #1</span>
                    <div slot="body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Beatae consequuntur eligendi omnis quas, quia totam.
                        Commodi cum deserunt dolores inventore ipsa nisi officiis optio,
                        praesentium quidem sit tempore temporibus voluptates!
                    </div>
                    <div slot="footer">
                        The footer of the card
                    </div>
                </custom-card>
            </div>
            <div class="col">
                <custom-card
                    header="Card #2"
                    body="I'm the body!"
                    footer="I'm the footer"
                ></custom-card>
            </div>
        </div>
    </div>
</template>

<script>
  import CustomCard from '@/components/Card.vue';

  export default {
    name: "Slots",
    components: {
      CustomCard,
    }
  }
</script>

<style scoped>

</style>