<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-10">
                <div class="card">
                    <h4 class="card-header bg-dark text-white">
                        Managing your Application’s State with Vuex
                    </h4>
                    <div class="card-body">
                        <button
                            class="btn btn-dark"
                            @click="fetchTodos"
                        >
                            Fetch todos
                        </button>
                        <button
                            class="btn btn-dark"
                            @click="removeTodos"
                        >
                            Remove todos
                        </button>
                        <hr />
                        <div class="list-group">
                            <div
                                class="list-group-item"
                                v-for="todo in todos"
                                :key="todo.id"
                            >{{ todo.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    name: 'TodosComponent',
    computed: {
      ...mapState([
        'todos',
      ])
    },
    methods: {
      ...mapActions([
        'fetchTodos',
        'removeTodos',
      ]),
    },
  }
</script>

<style scoped>

</style>