<template>
  <transition
    name="fade"
    mode="out-in"
  >
    <slot></slot>
  </transition>
</template>
<script>
  export default {
    name: 'fade-transition',
  };
</script>
<style>
  .fade-enter-active {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }

  .fade-leave-active {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: fadeOut;
  }
</style>
