<template>
  <div id="app">
    <HelloWorld/>
    <Reactive/>
    <Forms/>
    <ErrorHandling/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import Reactive from './components/Reactive';
import Forms from './components/Forms';
import ErrorHandling from './components/ErrorHandling';

export default {
  name: 'app',
  components: {
    HelloWorld,
    Reactive,
    Forms,
    ErrorHandling
  }
}
</script>

<style>

</style>
