<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-6">
                <div class="card">
                    <h5 class="card-header bg-dark text-white">
                        Using events
                    </h5>
                    <div class="card-body">
                        <my-form @formSubmitted="processForm"></my-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "ComponentEvents",
    methods: {
      processForm(data) {
        alert(`Username: ${data.username}\nPassword: ${data.password}`);
      },
    },
    components: {
      myForm: {
        name: 'my-form',
        data() {
          return {
            user: {
              username: '',
              password: '',
            },
          };
        },
        methods: {
          submit() {
            this.$emit('formSubmitted', this.user);
          },
        },
        template: `
          <form @submit.prevent="submit">
            <div class="form-group">
              <input
                class="form-control"
                v-model="user.username"
                placeholder="Enter a username"
              >
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                v-model="user.password"
                placeholder="Enter a password"
              >
            </div>
            <div class="form-group">
              <button class="btn btn-primary">
                Send form
              </button>
            </div>
          </form>
        `
      }
    }
  }
</script>

<style scoped>

</style>