<template>
  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-6">
          <div class="card">
            <h4 class="card-header bg-dark text-white">
              Dynamic components
            </h4>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <select
                      class="form-control"
                      v-model="selectedType"
                  >
                    <option
                        v-for="style in componentTypes"
                        :value="style"
                    >
                      {{ style | ucfirst }}
                    </option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <div class="col col-6">
          <component :is="currentComponent"></component>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      selectedType: 'card',
      componentTypes: [
        'card',
        'button',
        'breadcrumb',
        'pagination',
      ],
    };
  },
  computed: {
    currentComponent() {
      return `${this.selectedType}Component`;
    }
  },
  filters: {
    ucfirst(value) {
      if (!value) {
        return '';
      }
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  components: {
    cardComponent: {
      name: 'card',
      template: `
        <div class="card">
          <h5 class="card-header">
            Card Component
          </h5>
          <div class="card-body">
            The card body
          </div>
          <div class="card-footer">
            The card footer
          </div>
        </div>
      `
    },
    buttonComponent: {
      name: 'button',
      template: `
        <div class="btn btn-primary">
          Primary Button
        </div>
      `
    },
    breadcrumbComponent: {
      name: 'breadcrumb',
      template: `
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Item #1</a></li>
          <li class="breadcrumb-item"><a href="#">Item #2</a></li>
          <li class="breadcrumb-item active">Item #3</li>
        </ol>
      `
    },
    paginationComponent: {
      name: 'pagination',
      template: `
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      `
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

