<template>
  <div :class="classNames">
    <button
      class="close"
      @click="closed"
    >
      <span>&times;</span>
    </button>
    <slot>
      {{ content }}
    </slot>
  </div>
</template>
<script>
  export default {
    /**
     * The props this component can use.
     */
    props: {
      /**
       * The contextual styling of the alert component.
       */
      contextualStyle: {
        type: String,
        required: false,
      },

      /**
       * The content to be displayed when no slot is given.
       */
      content: {
        type: String,
        required: false,
      },
    },

    /**
     * The computed properties this component can use.
     */
    computed: {
      /**
       * Will return the CSS class names.
       *
       * @return {Array} The CSS class names.
       */
      classNames() {
        const classNames = ['alert'];

        if (this.contextualStyle) {
          classNames.push(`alert-${this.contextualStyle}`);
        }

        return classNames;
      }
    },

    /**
     * The methods this component can use.
     */
    methods: {
      /**
       * Will emit the closed event.
       */
      closed() {
        this.$emit('closed');
      }
    }
  };
</script>
