<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-6">
                <div class="card">
                    <h4 class="card-header bg-dark text-white">
                        Making Form Calls
                    </h4>
                    <div class="card-body">
                        <form @submit.prevent="createPost(post)">
                            <div class="form-group">
                                <label for="post.title">
                                    The title of the post
                                </label>
                                <input
                                    id="post.title"
                                    placeholder="Enter the post title"
                                    v-model="post.title"
                                    class="form-control"
                                >
                            </div>
                            <div class="form-group">
                                <label for="post.body">
                                    The body of the post
                                </label>
                                <textarea
                                    id="post.body"
                                    placeholder="Enter the post body"
                                    v-model="post.body"
                                    class="form-control"
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="post.userId">
                                    The user id
                                </label>
                                <input
                                    id="post.userId"
                                    placeholder="Enter the user id"
                                    v-model="post.userId"
                                    class="form-control"
                                />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">
                                    Add post!
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "Forms",
    data() {
      return {
        post: {
          userId: null,
          title: null,
          body: null,
        },
      };
    },
    methods: {
      /* eslint-disable no-console */
      createPost(post) {
        if (!post.title || !post.body || !post.userId) {
          return;
        }

        this.$http
          .post('/posts', post)
          .then(({ data }) => {
            alert('Post has been created!');
            console.log(data);
          })
          .catch((error) => {
            alert('Whoops! Something went wrong...');
            console.log('ERROR!', error);
          });
      },
    }
  }
</script>

<style scoped>

</style>