<template>
  <div id="app">
    <HelloWorld/>
    <FormElements/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import FormElements from './components/FormElements'

export default {
  name: 'app',
  components: {
    HelloWorld,
    FormElements
  }
}
</script>

<style>
</style>
