<template>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <h4 class="card-header">
              Currency
            </h4>
            <div class="card-body">
              <input
                class="form-control"
                v-model="amount"
                placeholder="The amount of money..."
              />
              <hr/>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="The amount converted to currency..."
                  :value="amount | currency" readonly
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="The currency with a different symbol..."
                  :value="amount | currency({symbol: '€'})" readonly
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="The currency with different precision..."
                  :value="amount | currency({ precision: 4 })" readonly
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="The currency with different thousand symbol..."
                  :value="amount | currency({ thousand: '.' })" readonly
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="The currency with different decimal symbol..."
                  :value="amount | currency({ decimal: ',' })" readonly
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { formatMoney } from 'accounting-js';

export default {
  name: 'Currencies',
  data() {
    return {
      amount: null
    };
  },
  filters: {
    currency(value, options) {
      if (!value) return '';
      return formatMoney(value, options);
    }
  }
};
</script>

<style scoped>

</style>
