<template>
  <div class="card">
    <h4 class="card-header bg-dark text-white">
      Contact Page
    </h4>
    <div class="card-body">
      {{ helloMessage }}
    </div>
    <div class="card-footer">
      <router-link :to="{ name: 'home'}">
        Go to home page!
      </router-link>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'contact-page',
    data() {
      return {
        helloMessage: 'Hello from the contact page!',
      }
    }
  };
</script>
