<template>
  <div class="card">
    <h4 class="card-header bg-dark text-white">
      Home Page
    </h4>
    <div class="card-body">
      {{ helloMessage }}
    </div>
    <div class="card-footer">
      <router-link :to="{ name: 'contact'}">
        Go to contact page!
      </router-link><br/>
      <router-link :to="{ name: 'posts.index'}">
        Go to posts page!
      </router-link><br/>
      <router-link :to="{ name: 'account'}">
        Go to account page!
      </router-link>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'home-page',
    data() {
      return {
        helloMessage: 'Hello from the home page!',
      }
    }
  };
</script>
