<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-6">
                    <div class="card">
                        <h4 class="card-header bg-dark text-white">
                            Accessing Store Data in Components
                        </h4>
                        <div class="card-body">
                            <form @submit.prevent="addAlert(alert)">
                                <div class="form-group">
                                    <label for="alert.message">
                                        The alert message
                                    </label>
                                    <input
                                        id="alert.message"
                                        class="form-control"
                                        placeholder="The message"
                                        v-model="alert.message"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="alert.style">
                                        The alert style
                                    </label>
                                    <select
                                        id="alert.style"
                                        class="form-control"
                                        v-model="alert.type"
                                    >
                                        <option
                                            v-for="style in styles"
                                            :value="style"
                                            :key="style"
                                        >
                                            {{ style | ucfirst }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-dark">
                                        Add alert
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container fixed-bottom">
            <div class="row justify-content-end">
                <div class="col col-4">
                    <v-alert
                        v-for="(alert, index) in alertMessages"
                        :key="alert.message + index"
                        :type="alert.type"
                        @close="removeAlert(alert)"
                    >
                        {{ alert.message }}
                    </v-alert>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import VAlert from './Alert';
  import { mapState } from 'vuex';

  export default {
    name: "Alerts",
    data() {
      return {
        alert: {
          message: '',
          type: 'primary'
        },
        styles: [
          'primary',
          'dark',
          'success',
          'danger',
          'warning',
          'info'
        ],
      }
    },
    computed: {
      ...mapState([
        'alertMessages'
      ]),
    },
    methods: {
      addAlert(alert) {
        if (!alert.message) {
          return;
        }

        this.$store.commit('addAlert', Object.assign({}, alert));

        alert.message = '';
      },
      removeAlert(alert) {
        this.$store.commit('removeAlert', alert);
      }
    },
    filters: {
      ucfirst(value) {
        if (!value) {
          return '';
        }

        return value.charAt(0).toUpperCase() + value.slice(1);
      }
    },
    components: {
      VAlert,
    }
  }
</script>

<style scoped>

</style>