<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-6">
        <div class="card">
          <h4 class="card-header bg-dark text-white">
            Adding Vuex to your Application
          </h4>
          <div class="card-body">
            <div class="btn-group">
              <button
                  @click="decrement"
                  class="btn btn-dark"
              >-</button>
              <button
                  @click="increment"
                  class="btn btn-dark"
              >+</button>
            </div>
            <hr />
            The counter: {{ $store.state.count }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  methods: {
    decrement() {
      this.$store.commit('decrement');
    },
    increment() {
      this.$store.commit('increment');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
