<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-6">
                <div class="card">
                    <h4 class="card-header bg-dark text-white">
                        Register
                    </h4>
                    <div class="card-body">
                        <form @submit.prevent="register">
                            <div class="form-group">
                                <label for="user.email">Email</label>
                                <input
                                    id="user.email"
                                    type="email"
                                    class="form-control"
                                    placeholder="Email address"
                                    v-model="user.email"
                                >
                            </div>
                            <div class="form-group">
                                <label for="user.password">Password</label>
                                <input
                                    id="user.password"
                                    type="password"
                                    class="form-control"
                                    placeholder="Password"
                                    v-model="user.password"
                                >
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label for="user.birthday">Birthday</label>
                                <input
                                    id="user.birthday"
                                    type="date"
                                    class="form-control"
                                    placeholder="Birthday"
                                    v-model="user.birthday"
                                >
                            </div>
                            <div class="form-group">
                                <label for="user.gender">Select the gender</label>
                                <select
                                    class="form-control"
                                    id="user.gender"
                                    v-model="user.gender"
                                >
                                    <option
                                        disabled
                                        value=""
                                    >
                                        Please select a gender
                                    </option>
                                    <option
                                        v-for="gender in genders"
                                        :value="gender"
                                        :key="gender"
                                    >
                                        {{ gender | ucfirst }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="user.biography">Biography</label>
                                <textarea
                                    id="user.biography"
                                    v-model="user.biography"
                                    class="form-control"
                                    placeholder="Biography"
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input
                                            type="checkbox"
                                            class="form-check-input"
                                            v-model="user.receiveNewsletter"
                                        >
                                        Receive newsletter?
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">
                                    Register
                                </button>
                                <button
                                    @click="reset"
                                    class="btn btn-danger"
                                >
                                    Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "FormElements",
    data() {
      return {
        user: {
          email: '',
          password: '',
          birthday: '',
          biography: '',
          gender: '',
          receiveNewsletter: false,
        },
        genders: [
          'male',
          'female',
          'other',
        ],
      };
    },
    methods: {
      /* eslint no-console: 0 */
      register() {
        console.log(this.user);
      },
      reset() {
        this.user = {
          email: '',
          password: '',
          birthday: '',
          biography: '',
          gender: '',
          receiveNewsletter: false,
        };
      },
    },
    filters: {
      ucfirst(value) {
        if (!value) {
          return '';
        }
        return value.charAt(0).toUpperCase() + value.slice(1);
      }
    }
  }
</script>

<style scoped>

</style>