<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-6">
        <div class="card">
          <h4 class="card-header bg-dark text-white">
            Login
          </h4>
          <div class="card-body">
            <form @submit.prevent="login">
              <div class="form-group">
                <label for="user.email">Email</label>
                <input
                    id="user.email"
                    type="email"
                    class="form-control"
                    placeholder="Email address"
                    v-model="user.email"
                >
              </div>
              <div class="form-group">
                <label for="user.password">Password</label>
                <input
                    id="user.password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    v-model="user.password"
                >
              </div>
              <hr />
              <div class="form-group">
                <button class="btn btn-primary">
                  Login!
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- handling form buttons -->
    <div class="row justify-content-center">
      <div class="col col-6">
        <div class="card">
          <h4 class="card-header bg-dark text-white">
            Register
          </h4>
          <div class="card-body">
            <form @submit.prevent="register">
              <div class="form-group">
                <label for="user.email1">Email</label>
                <input
                    id="user.email1"
                    type="email"
                    class="form-control"
                    placeholder="Email address"
                    v-model="user.email"
                >
              </div>
              <div class="form-group">
                <label for="user.password1">Password</label>
                <input
                    id="user.password1"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    v-model="user.password"
                >
              </div>
              <div class="form-group">
                <button class="btn btn-primary">
                  Register
                </button>
                <button
                    @click="reset"
                    class="btn btn-danger"
                >
                  Reset
                </button>
              </div>
              <hr />
              <button
                  @click="redirectBack"
                  class="btn btn-outline-danger"
              >
                Go back
              </button>
              <button
                  @click="redirectToLogin"
                  class="btn btn-outline-primary"
              >
                Go to login page
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      user: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    /* eslint no-console: 0 */
    login() {
      console.log(this.user);
    },
    register() {
      console.log(this.user);
    },
    reset() {
      this.user = {
        email: '',
        password: '',
      };
    },
    redirectBack() {
      console.log('Redirecting...');
    },
    redirectToLogin() {
      console.log('Redirecting to login page...');
    }
  }
}
</script>

