<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <form @submit.prevent="addItem()">
        <input
            type="text"
            v-model="newItem"
            placeholder="Add a new item">
        <button type="submit" @click="addItem">Add</button>
        <button @click="removeLastItem()">Remove last item</button>
        <button @click="clearItems()">Clear</button>
    </form>
    <hr>
    <pre>{{$data}}</pre>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      newItem: null,
      items: []
    },
    methods: {
      addItem() {
        if (!this.newItem) return;
        this.items.push(this.newItem);
        this.newItem = null;
      },
      clearItems() {
        this.items = [];
      },
      removeLastItem() {
        this.items.pop();
      }
    }
  })
</script>
</body>
</html>
