<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-6">
                    <div class="card">
                        <h4
                            class="card-header"
                            @click="toggleCard"
                        >
                            Toggle
                        </h4>
                        <transition name="fade">
                            <div
                                class="card-body"
                                v-show="cardBodyIsShown"
                            >
                                Hi! I'm the body!
                            </div>
                        </transition>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="card">
                        <h4 class="card-header">
                            Alert
                        </h4>
                        <div class="card-body">
                            <button
                                class="btn btn-primary"
                                @click="toggleAlert"
                            >
                                Toggle alert
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert-holder">
            <transition name="slide-right">
                <div
                    class="alert alert-primary alert-dismissible"
                    v-if="alertIsShown"
                >
                    <button
                        @click="removeAlert"
                        type="button"
                        class="close"
                    >
                        <span>&times;</span>
                    </button>
                    You're the chosen one!
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'HelloWorld',
    data() {
      return {
        cardBodyIsShown: true,
        alertIsShown: false,
      };
    },
    methods: {
      toggleCard() {
        this.cardBodyIsShown = !this.cardBodyIsShown;
      },
      toggleAlert() {
        this.alertIsShown = !this.alertIsShown;
      },
      removeAlert() {
        this.alertIsShown = false;
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .alert-holder {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    /**
     * Fade animation
     */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .fade-enter-active {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeIn;
    }

    .fade-leave-active {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeOut;
    }

    /**
     * Slide right animation.
     */
    @keyframes slideInRight {
        from {
            transform: translate3d(100%, 0, 0);
            visibility: visible;
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes slideOutRight {
        from {
            transform: translate3d(0, 0, 0);
        }

        to {
            visibility: hidden;
            transform: translate3d(100%, 0, 0);
        }
    }

    .slide-right-enter-active {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: slideInRight;
    }

    .slide-right-leave-active {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: slideOutRight;
    }
</style>
