<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-6">
                <transition
                    name="card"
                    mode="out-in"
                >
                    <div
                        class="card"
                        key="first"
                        v-if="myBoolean"
                    >
                        <h4 class="card-header bg-dark text-white">
                            Card #1
                        </h4>
                        <div class="card-body">
                            <button
                                class="btn btn-primary"
                                @click="toggle"
                            >
                                Toggle
                            </button>
                        </div>
                    </div>
                    <div
                        class="card"
                        key="second"
                        v-else
                    >
                        <h4 class="card-header bg-dark text-white">
                            Card #2
                        </h4>
                        <div class="card-body">
                            <button
                                class="btn btn-primary"
                                @click="toggle"
                            >
                                Toggle
                            </button>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "Toggler",
    data() {
      return {
        myBoolean: true,
      };
    },
    methods: {
      toggle() {
        this.myBoolean = !this.myBoolean;
      }
    }
  }
</script>
<style>
    .card-absolute {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .card-enter-active {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeIn;
    }

    .card-leave-active {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeOut;
    }
</style>
