<template>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-6">
                <div class="card">
                    <h4 class="card-header bg-dark text-white">
                        A reusable fade transition
                    </h4>
                    <div class="card-body">
                        <button
                            class="btn btn-primary"
                            @click="toggleOne"
                        >
                            Toggle transition
                        </button>
                        <hr />
                        <fade-transition>
                            <div
                                class="alert alert-success"
                                v-if="isActiveOne"
                            >
                                Alert!
                            </div>
                        </fade-transition>
                    </div>
                </div>
            </div>
            <div class="col col-6">
                <div class="card">
                    <h4 class="card-header bg-dark text-white">
                        A reusable bounce transition
                    </h4>
                    <div class="card-body">
                        <button
                            class="btn btn-primary"
                            @click="toggleTwo"
                        >
                            Toggle transition
                        </button>
                        <hr />
                        <bounce-transition>
                            <div
                                class="alert alert-success"
                                v-if="isActiveTwo"
                            >
                                Alert!
                            </div>
                        </bounce-transition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import FadeTransition from '@/transitions/Fade.vue';
  import BounceTransition from '@/transitions/Bounce.vue';

  export default {
    name: "Transitions",
    components: {
      FadeTransition,
      BounceTransition,
    },
    data() {
      return {
        isActiveOne: true,
        isActiveTwo: true,
      };
    },
    methods: {
      toggleOne() {
        this.isActiveOne = !this.isActiveOne;
      },
      toggleTwo() {
        this.isActiveTwo = !this.isActiveTwo;
      }
    }
  }
</script>

<style scoped>

</style>