<template>
  <div class="card">
    <h4 class="card-header bg-dark text-white">
      Posts Page
    </h4>
    <div class="card-body">
      <button
        class="btn btn-dark"
        @click="fetchPosts"
      >
        Fetch posts
      </button>
      <button
        class="btn btn-dark"
        @click="clearPosts"
      >
        Clear posts
      </button>
      <hr />
      <div class="list-group">
        <div
          class="list-group-item"
          v-for="post in posts"
          :key="post"
        >
          {{ post.title }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    name: 'posts-page',
    computed: {
      ...mapState({
        // this.posts = $store.state.post.all
        posts: state => state.post.all,
      }),
    },
    methods: {
      ...mapActions({
        fetchPosts: 'post/fetch',
        clearPosts: 'post/clear',
      }),
    },
  };
</script>
