<template>
  <div class="card">
    <h4 class="card-header bg-dark text-white">
      Todos Page
    </h4>
    <div class="card-body">
      <button
        class="btn btn-dark"
        @click="fetchTodos"
      >
        Fetch todos
      </button>
      <button
        class="btn btn-dark"
        @click="clearTodos"
      >
        Clear todos
      </button>
      <hr />
      <div class="list-group">
        <div
          class="list-group-item"
          v-for="todo in todos"
          :key="todo"
        >
          {{ todo.title }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    name: 'todos-page',
    computed: {
      ...mapState({
        // this.todos = $store.state.todo.all
        todos: state => state.todo.all,
      }),
    },
    methods: {
      ...mapActions({
        fetchTodos: 'todo/fetch',
        clearTodos: 'todo/clear',
      }),
    },
  };
</script>
